body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#profile-name {
    color: navy;
}
.bio {
    font-style: italic;
    color: gray;
}
.btn-primary{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointers;
}